@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* ===== THEME TOKENS ===== */

:root {
  --bg: #f8fafc;
  --surface: #ffffff;
  --cell: #f1f5f9;
  --text: #0f172a;
  --muted: #64748b;
  --accent: #6366f1;
}

/*Light*/
.theme-light {
  --bg: #f8fafc;
  --surface: #ffffff;
  --cell: #f1f5f9;
  --text: #0f172a;
  --muted: #64748b;
  --accent: #6366f1;
}

/* DARK */
.theme-dark {
  --bg: #020617;
  --surface: #020617;
  --cell: #020617;
  --text: #e5e7eb;
  --muted: #9ca3af;
  --accent: #8b5cf6;
}

/* SOFT */
.theme-soft {
  --bg: #fdf2f8;
  --surface: #ffffff;
  --cell: #fce7f3;
  --text: #701a75;
  --muted: #9d174d;
  --accent: #ec4899;
}

/* COSMIC */
.theme-cosmic {
  --bg: #020617;
  --surface: rgba(255,255,255,0.04);
  --cell: rgba(255,255,255,0.08);
  --text: #e0e7ff;
  --muted: #a5b4fc;
  --accent: #7c3aed;
}

/* ANIME */
.theme-anime {
  --bg: #fff7ed;
  --surface: #ffffff;
  --cell: #ffedd5;
  --text: #7c2d12;
  --muted: #ea580c;
  --accent: #f97316;
}
/* FOREST */
.theme-forest {
  --bg: #f0fdf4;
  --surface: #ffffff;
  --cell: #dcfce7;
  --text: #14532d;
  --muted: #22c55e;
  --accent: #10b981;  
}
/* OCEAN */
.theme-ocean {
  --bg: #f0f9ff;
  --surface: #ffffff;
  --cell: #e0f2fe;
  --text: #164e63;  
  --muted: #0ea5e9;
  --accent: #3b82f6;
}


html {
  background-color: var(--bg);
  color: var(--text);
}

body {
  background-color: var(--bg);
  color: var(--text);
}
